html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    flex: row;
    height: 30px;
    border-bottom: solid;
    border-color: rgb(54, 99, 234);
    border-bottom-width: 1px;
    background-color: rgb(54, 99, 234);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.headerText {
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#messageBar{
    text-align: center;
    background: rgba(160, 160, 160, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
}

#messageBar{
    text-align: center;
    background: rgba(160, 160, 160, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
}

#messageInput{
    background: transparent;
    outline: none;
    align-self: center;
    height: 30px;
    flex: 1;
    padding-left: 10px;
    border: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}