html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#statusBar {
    display: flex;
    flex: row;
    height: 20px;
    /*background-color:rgb(255, 108, 29);*/
    background-color: #0b42e6;
    color: #fff;
    font-size: small;
    font-weight: 400;
}

.statusItem {
    flex: 2;
    align-self: flex-end;
    margin-left: 5px;
    text-overflow: ellipsis
}

.statusItemLG {
    flex: 3;
    align-self: flex-end;
    margin-left: 5px;
    text-overflow: ellipsis
}

.roomSync {
    flex: 3;
    align-self: flex-end;
    margin-left: 5px;
    justify-content: flex-end;
    color:rgb(255, 255, 255);
    text-overflow: ellipsis
}

#navBar {
    display: flex;
    flex: row;
    height: 50px;
    border-bottom: solid;
    /*border-color: rgb(54, 99, 234);*/
    border-color: rgb(62,1,164);
    border-bottom-width: 1px;
    /*background-color: rgb(11, 66, 230);*/
    background-color: rgb(62,1,164);
}
.navBtn {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 800;
    border-style: hidden;
    /*background-color: rgb(54, 99, 234);*/
    /*background-color: rgb(11, 66, 230);*/
    background-color: rgb(62,1,164);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.navBtn:hover {
    /*background-color: rgb(47, 86, 206);*/
    /*background-color: rgb(10, 57, 200, 0.5);*/
    background-color: rgb(49, 1, 133, 0.5);
}

#enterBtn {
    font-size: medium;
}

.urlBar {
    background: rgba(160, 160, 160, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 3;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 3px solid rgba(160, 160, 160, 0.0); /* Light grey */
    border-top: 3px solid rgb(255, 108, 29);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    animation: spin 2s linear infinite;
}
  

#urlInput {
    background: transparent;
    outline: none;
    align-self: center;
    height: 30px;
    flex: 1;
    padding-left: 10px;
    border: 0;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
}

.roomBar {
    background: rgba(160, 160, 160, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#roomInput {
    background: transparent;
    outline: none;
    align-self: center;
    height: 30px;
    flex: 1;
    padding-left: 10px;
    border: 0;
    color:#ff965d;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

.liveBtn{
    height: 30px; 
    width: 40px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: x-small;
    border: 0;
    font-weight: 600;
    /*background-color: rgb(54, 99, 234);*/
    /*background-color: rgb(11, 66, 230);*/
    background-color: rgb(62,1,164);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}


.liveBtn:hover {
    /*background-color: rgb(6, 57, 211);*/
    /*background-color: rgb(10, 57, 200, 0.5);*/
    background-color: rgb(49, 1, 133, 0.5);
}

.leaveBtn {
    width: 40px; 
    font-size: x-small;
    border: 0;
    font-weight: 600;
    background-color: #ff0000;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    display: none;
}

.syncBtn{
    width: 40px; 
    font-size: x-small;
    border: 0;
    font-weight: 600;
    display: none;
    background-color:rgb(255, 108, 29);
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
}

.syncBtn:hover {
    background-color:rgb(231, 99, 29);
}

.leaveBtn:hover {
    background-color: #eb0000;
}

#error {
    width: 100%;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-align: center;
    display: none;
}
#micBtn {
    font-size: medium;
}

#video {
    display: none;
}